In [2]:
import pandas as pd

In [3]:
# Read the 4 csv files into separate data frames

zillow_rentals_file_path = "/Users/mursil/workspace_neelam/Data_Projects_Personal/Real_Estate_Project/zillow/zillow_rental_data/zillow_rentals_17102023.csv"
zillow_sales_file_path = "/Users/mursil/workspace_neelam/Data_Projects_Personal/Real_Estate_Project/zillow/zillow_sales_data/zillow_sales_17102023.csv"
school_performance_file_path = "/Users/mursil/workspace_neelam/Data_Projects_Personal/Real_Estate_Project/School Performance Information/School_Perf_with_Zip.csv"
HH_income_file_path = "/Users/mursil/workspace_neelam/Data_Projects_Personal/Real_Estate_Project/Household Income by Zip Code/HH_income.csv"


# Read the CSV files into DataFrames
zillow_rentals = pd.read_csv(zillow_rentals_file_path)
zillow_sales = pd.read_csv(zillow_sales_file_path)
school_performance = pd.read_csv(school_performance_file_path)
HH_income = pd.read_csv(HH_income_file_path)

In [4]:
# check column names and rename as needed
zillow_rentals.columns

Index(['Date Fetched', 'Street Address', 'City', 'State', 'Zip Code',
       '# Bedrooms', '# Bathrooms', 'Living Area', 'Lot Area', 'Home Type',
       'Home Status', 'Zestimate', 'Tax Assessed Value', 'Rent Zestimate',
       'Price', 'URL'],
      dtype='object')

In [5]:
zillow_sales.columns

Index(['Date Fetched', 'Street Address', 'City', 'State', 'Zip Code',
       '# Bedrooms', '# Bathrooms', 'Living Area', 'Lot Area', 'Home Type',
       'Home Status', 'Zestimate', 'Tax Assessed Value', 'Rent Zestimate',
       'Price', 'URL'],
      dtype='object')

In [6]:
# concatanate the zillow_rentals and zillow_sales dataframes
zillow_concatanated = pd.concat([zillow_rentals, zillow_sales], axis =0)

In [7]:
zillow_concatanated.head()

,Date Fetched,Street Address,City,State,Zip Code,# Bedrooms,# Bathrooms,Living Area,Lot Area,Home Type,Home Status,Zestimate,Tax Assessed Value,Rent Zestimate,Price,URL
0,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3,2.5,1808.0,NaN,SINGLE_FAMILY,FOR_RENT,NaN,NaN,NaN,2225.0,https://www.zillow.com/homedetails/128-Charman...
1,2023-10-13,126 Charmante Tulip Ln,Henderson,NV,89015,3,2.5,1808.0,NaN,SINGLE_FAMILY,FOR_RENT,NaN,NaN,NaN,2225.0,https://www.zillow.com/homedetails/126-Charman...
2,2023-10-13,11713 Villa Malaparte Ave #0,Las Vegas,NV,89138,5,3.0,2532.0,NaN,SINGLE_FAMILY,FOR_RENT,584800.0,NaN,3633.0,2500.0,https://www.zillow.com/homedetails/11713-Villa...
3,2023-10-13,7324 Misty Glow Ct,Las Vegas,NV,89131,3,2.0,1416.0,NaN,SINGLE_FAMILY,FOR_RENT,379400.0,196011.0,1875.0,1950.0,https://www.zillow.com/homedetails/7324-Misty-...
4,2023-10-13,8436 Bay Crest Dr,Las Vegas,NV,89128,4,3.5,2422.0,NaN,SINGLE_FAMILY,FOR_RENT,524500.0,275971.0,2595.0,2800.0,https://www.zillow.com/homedetails/8436-Bay-Cr...

In [8]:
unique_city_counts = zillow_concatanated['City'].value_counts().sort_index()
print(unique_city_counts)

City
 Boulder                  1
 Boulder City            40
 Bunkerville              4
 Clark County             3
 Enterprise               9
 Henderson             1384
 Hyden                    1
 Indian Springs           3
 Las Vegas             4456
 Las vegas                7
 Laughlin                55
 Logandale                6
 Mesquite                82
 Moapa Valley             5
 Mount Charleston        15
 North Las Vegas        616
 North las vegas          1
 Overton                  5
 Paradise                19
 Paradise Town           10
 Spring Valley           56
 Spring valley            7
 Summerlin               46
 Sunrise Manor           16
 Sunrise Manor Town       8
 Sunrise manor town       1
 Whitney                 14
 Winchester               7
Name: count, dtype: int64

In [9]:
# remove leading white spaces from city column
zillow_concatanated['City'] = zillow_concatanated['City'].astype(str).str.lstrip().str.strip()

In [10]:
# Various ways that Cities are entered into this data -- need to name them more uniformly.
# Boulder, Boulder City = Boulder City
# Las Vegas, Las vegas = Las Vegas
# North Las Vegas, North las vegas = North Las Vegas
# Paradise, Paradise Town = Paradise Town
# Sunrise Manor, Sunrise Manor Town, Sunrise manor town = Sunrise Manor
# Spring Valley, Spring valley = Spring Valley

# Standardize city names
# Dictionary mapping non-standard city names to standardized names
city_mapping = {
    'Boulder': 'Boulder City',
    'Las vegas': 'Las Vegas',
    'North las vegas': 'North Las Vegas',
    'Paradise': 'Paradise Town',
    'Sunrise Manor Town': 'Sunrise Manor',
    'Sunrise manor town': 'Sunrise Manor',
    'Spring valley': 'Spring Valley'
}

# Replace non-standard city names with standardized names
zillow_concatanated['City'] = zillow_concatanated['City'].replace(city_mapping)

In [11]:
unique_city_counts = zillow_concatanated['City'].value_counts().sort_index()
print(unique_city_counts)

City
Boulder City          41
Bunkerville            4
Clark County           3
Enterprise             9
Henderson           1384
Hyden                  1
Indian Springs         3
Las Vegas           4463
Laughlin              55
Logandale              6
Mesquite              82
Moapa Valley           5
Mount Charleston      15
North Las Vegas      617
Overton                5
Paradise Town         29
Spring Valley         63
Summerlin             46
Sunrise Manor         25
Whitney               14
Winchester             7
Name: count, dtype: int64

In [12]:
school_performance.columns

Index(['School Code', 'School Name', 'Mathematics - % Proficient',
       'ELA - % Proficient', 'Physical Zip'],
      dtype='object')

In [13]:
zillow_concatanated.columns

Index(['Date Fetched', 'Street Address', 'City', 'State', 'Zip Code',
       '# Bedrooms', '# Bathrooms', 'Living Area', 'Lot Area', 'Home Type',
       'Home Status', 'Zestimate', 'Tax Assessed Value', 'Rent Zestimate',
       'Price', 'URL'],
      dtype='object')

In [14]:
HH_income.columns

Index(['Zip_Code', 'Median_Income', 'Median_Income_Margin_of_Error',
       'Mean_Income', 'Mean_Income_Margin_of_Error'],
      dtype='object')

In [15]:
# Rename the columns to Zip_Code so that the data frames can be joined on this common column

zillow_concatanated.rename(columns={'Zip Code' : 'Zip_Code'}, inplace = True)
school_performance.rename(columns={'Physical Zip' : 'Zip_Code'}, inplace = True)

In [16]:
merged_data = pd.merge(zillow_concatanated, school_performance, on ='Zip_Code', how='outer')

In [17]:
merged_data = pd.merge(merged_data, HH_income, on = 'Zip_Code', how='outer')

In [18]:
merged_data.columns

Index(['Date Fetched', 'Street Address', 'City', 'State', 'Zip_Code',
       '# Bedrooms', '# Bathrooms', 'Living Area', 'Lot Area', 'Home Type',
       'Home Status', 'Zestimate', 'Tax Assessed Value', 'Rent Zestimate',
       'Price', 'URL', 'School Code', 'School Name',
       'Mathematics - % Proficient', 'ELA - % Proficient', 'Median_Income',
       'Median_Income_Margin_of_Error', 'Mean_Income',
       'Mean_Income_Margin_of_Error'],
      dtype='object')

In [19]:
merged_data.head()

,Date Fetched,Street Address,City,State,Zip_Code,# Bedrooms,# Bathrooms,Living Area,Lot Area,Home Type,...,Price,URL,School Code,School Name,Mathematics - % Proficient,ELA - % Proficient,Median_Income,Median_Income_Margin_of_Error,Mean_Income,Mean_Income_Margin_of_Error
0,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2319.0,"Brown, B Mahlon JHS",20.0,39.1,60301,3792,79605,3748
1,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2251.0,"Sewell, C T ES",18.8,28.6,60301,3792,79605,3748
2,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2297.0,"Hinman, Edna F ES",13.1,25.7,60301,3792,79605,3748
3,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2313.0,"Burkholder, Lyal MS",17.9,31.0,60301,3792,79605,3748
4,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2249.0,"McCaw, Gordon ES",66.5,71.3,60301,3792,79605,3748

In [20]:
unique_state_counts = merged_data['State'].value_counts()
print(unique_state_counts)

State
 NV    40316
 KY        1
Name: count, dtype: int64

In [21]:
unique_Home_Status = merged_data['Home Status'].unique()
print(unique_Home_Status)

[' FOR_RENT' ' FOR_SALE' nan]

In [22]:
# remove leading space from ' FOR_RENT' in 'Home Status' column
merged_data['Home Status'] = merged_data['Home Status'].astype(str).str.lstrip().str.strip()

In [23]:
unique_State = merged_data['State'].unique()
print(unique_State)

[' NV' ' KY' nan]

In [24]:
# drop row with State = KY
merged_data = merged_data[merged_data['State'] != ' KY']

In [25]:
# remove leading space from ' NV' in 'State' column
merged_data['State'] = merged_data['State'].astype(str).str.lstrip().str.strip()

In [26]:
merged_data['Zip_Code'] = merged_data['Zip_Code'].astype(str)

In [27]:
unique_Zip_Code = merged_data['Zip_Code'].unique()
print(unique_Zip_Code)

['89015' '89138' '89131' '89128' '89032' '89141' '89183' '89123' '89178'
 '89052' '89148' '89139' '89108' '89147' '89081' '89031' '89034' '89102'
 '89084' '89012' '89122' '89135' '89118' '89011' '89149' '89121' '89002'
 '89044' '89074' '89145' '89129' '89115' '89113' '89166' '89179' '89014'
 '89103' '89156' '89146' '89117' '89134' '89030' '89130' '89086' '89104'
 '89101' '89107' '89144' '89119' '89109' '89142' '89120' '89106' '89169'
 '89143' '89021' '89110' '89029' '89027' '89085' '89158' '89005' '89124'
 '89040' '89007' '89161' '89018' '89025' '89004' '89019' '89046' '84034'
 '89001' '89003' '89008' '89010' '89013' '89017' '89020' '89022' '89026'
 '89039' '89042' '89043' '89045' '89047' '89048' '89049' '89054' '89060'
 '89061' '89070' '89191' '89301' '89310' '89311' '89314' '89315' '89316'
 '89317' '89318' '89319' '89402' '89403' '89404' '89405' '89406' '89408'
 '89409' '89410' '89411' '89412' '89413' '89414' '89415' '89418' '89419'
 '89420' '89421' '89422' '89423' '89424' '89425' '89426' '89427' '89428'
 '89429' '89430' '89431' '89433' '89434' '89436' '89437' '89438' '89439'
 '89440' '89441' '89442' '89444' '89445' '89446' '89447' '89448' '89449'
 '89450' '89451' '89460' '89496' '89501' '89502' '89503' '89506' '89508'
 '89509' '89510' '89511' '89512' '89519' '89521' '89523' '89557' '89701'
 '89703' '89704' '89705' '89706' '89801' '89815' '89820' '89821' '89822'
 '89823' '89825' '89826' '89828' '89830' '89831' '89832' '89833' '89834'
 '89835' '89883']

In [28]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40433 entries, 0 to 40433
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date Fetched                   40316 non-null  object
 1   Street Address                 40316 non-null  object
 2   City                           40316 non-null  object
 3   State                          40433 non-null  object
 4   Zip_Code                       40433 non-null  object
 5   # Bedrooms                     40316 non-null  float64
 6   # Bathrooms                    39843 non-null  float64
 7   Living Area                    40073 non-null  float64
 8   Lot Area                       15516 non-null  float64
 9   Home Type                      40316 non-null  object
 10  Home Status                    40433 non-null  object
 11  Zestimate                      33358 non-null  float64
 12  Tax Assessed Value             35063 non-null  float64
 13  Rent Zestimate                 36141 non-null  float64
 14  Price                          40316 non-null  float64
 15  URL                            40316 non-null  object
 16  School Code                    40097 non-null  float64
 17  School Name                    40097 non-null  object
 18  Mathematics - % Proficient     40097 non-null  object
 19  ELA - % Proficient             40097 non-null  object
 20  Median_Income                  40433 non-null  object
 21  Median_Income_Margin_of_Error  40433 non-null  object
 22  Mean_Income                    40433 non-null  object
 23  Mean_Income_Margin_of_Error    40433 non-null  object
dtypes: float64(9), object(15)
memory usage: 7.7+ MB

In [31]:
unique_Home_type = merged_data['Home Type'].unique()
print(unique_Home_type)

['SINGLE_FAMILY' 'TOWNHOUSE' 'CONDO' 'MULTI_FAMILY' 'MANUFACTURED' nan]

In [30]:
# Select columns with dtype 'object' and remove leading white spaces
merged_data[merged_data.select_dtypes(include=['object']).columns] = merged_data.select_dtypes(include=['object']).apply(lambda x: x.str.strip())

# Verify the changes
merged_data.head()

,Date Fetched,Street Address,City,State,Zip_Code,# Bedrooms,# Bathrooms,Living Area,Lot Area,Home Type,...,Price,URL,School Code,School Name,Mathematics - % Proficient,ELA - % Proficient,Median_Income,Median_Income_Margin_of_Error,Mean_Income,Mean_Income_Margin_of_Error
0,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2319.0,"Brown, B Mahlon JHS",20.0,39.1,60301,3792,79605,3748
1,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2251.0,"Sewell, C T ES",18.8,28.6,60301,3792,79605,3748
2,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2297.0,"Hinman, Edna F ES",13.1,25.7,60301,3792,79605,3748
3,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2313.0,"Burkholder, Lyal MS",17.9,31.0,60301,3792,79605,3748
4,2023-10-13,128 Charmante Tulip Ln,Henderson,NV,89015,3.0,2.5,1808.0,NaN,SINGLE_FAMILY,...,2225.0,https://www.zillow.com/homedetails/128-Charman...,2249.0,"McCaw, Gordon ES",66.5,71.3,60301,3792,79605,3748

In [34]:
# Get count of rows where 'City' column is null
null_city_count = merged_data['City'].isnull().sum()

# Print the count
print("Number of rows where 'City' is null:", null_city_count)

Number of rows where 'City' is null: 0

In [33]:
# Remove rows where 'City' column is null
merged_data = merged_data.dropna(subset=['City'])

In [35]:
# export merged data to a csv
merged_data.to_csv("merged_data_17102023.csv", index = False)